body {
  margin: 0;
  font-family: "Aktiv Grotesk", -apple-system, BlinkMacSystemFont,
    "San Frasisco", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d3cfc8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
